*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.title-container{
    
    width: 100%;
    flex-shrink: 0;
    display: flex;

}

.services-container{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section{
    padding: 10px; 
    flex-grow: 1;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.photo{
    width: 80%
}

.title{
    color: teal;
    font-size: 64px;
    visibility: hidden;
}

.logo{
    width:300px;
    
}
.services{
    color: teal;
    font-size: 32px;
    list-style: none;
}

footer{
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
}

button{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: 0;
}

.e-mail{
    background-color: teal;
    color: white;
    font-size: 20px;
}

.phone{
    background-color: red;
    color: white;
    font-size: 20px;
}

.call{
    color: red;
    font-size: 32px;
}